

/* DASHBOARD SMALL DIV WITH HEADINGS */
.flex-container{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding-bottom: 0.5rem;
    margin-bottom: 0.8rem;
}

.flex-container div{
    vertical-align: middle;
    text-align: center;
}

.flex-container div span{
    font-size: 0.9rem !important;
    font-weight: 600;
    text-transform: uppercase;
    color: #000 !important;
}


/* DASHBOARD SMALL DIV WITH HEADINGS */

/* DASHBOARD DETAIL CARD */
.dashboard-detail-card{
    background-color: gray !important ;
    color: #000;
    line-height: 1.8rem !important;
}

.dashboard-detail-card span{
    font-size:0.85rem !important;
}

.dashboard-detail-card  span.badge{
    background-color: #fff !important ;
    color: #000;
    font-size: 0.8rem !important;
}

.dashboard-detail-card i, .filters i{
    background-color: rgba(255, 255, 255, 0.7);
    color: gray;
    font-size: 1rem !important;
    border-radius: 50%;
    padding: 0.6rem;
    width: 35px !important;
    height: 35px !important;
    margin-right: 0.5rem;
}

.filters{
    background-color: gray !important;
}

.filters .btn{
    font-size: 1rem;
}

.filters select{
    font-size: 0.85rem !important;
    background-color: rgba(255,255,255,1);
    color: #000 !important;
    font-weight: bold;
    border: none;
    outline: none;
}

/* DASHBOARD DETAIL CARD */
.navbar-custom {
    background-color: black;
    color: white;
    border-top:5px solid gray;
    border-bottom:5px solid gray;
}
.navbar-custom .navbar-nav .nav-link {
   padding: 0px 20px 0px 20px;
}
.navbar-custom .navbar-nav .nav-link.active {
    background-color: white;
    color: black !important;
    border-radius: 10px;
}
.dropdown-menu {
        z-index: 1051; /* Higher than the default navbar z-index */
    }
body{
    background-color: #f5f5f5 !important;
}
.pagination .page-item.active .page-link {
    background-color: #000;
    border: 1px solid gray;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus {
    background-color: #000;
    border: 1px solid gray;
}

.pagination .page-item.active .page-link:hover {
background-color: #000;
border: 1px solid gray;
}
.dataTables_processing {
    background-color: #f8d7da;
    color: #000; 
}
